/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #004085;
    padding: 10px 0;
    color: white;
    text-align: center;
}

/* Menú de navegación */
.menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #0062cc;
}

.menu nav ul li {
    margin: 0 15px;
    position: relative;
}

.menu nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.menu nav ul li a:hover {
    background-color: #004085;
    border-radius: 5px;
}

/* Submenú */
.menu nav ul .sub-menu {
    display: none;
    position: absolute;
    background-color: #004085;
    top: 100%;
    left: 0;
    width: 200px;
    list-style: none;
}

.menu nav ul li:hover .sub-menu {
    display: block;
}

.menu nav ul .sub-menu li {
    margin: 0;
}

.menu nav ul .sub-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu nav ul .sub-menu li a:hover {
    background-color: #0056b3;
}

/* Sección de contenido */
.section-content {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
}

.section-content p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

/* Sección de exposiciones */
.exposiciones {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.exposiciones div {
    text-align: center;
    margin-bottom: 20px;
}

.exposiciones img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.exposiciones p {
    font-size: 1.1em;
    margin: 10px 0;
}

.exposiciones button {
    padding: 10px 20px;
    border: none;
    background-color: #0062cc;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exposiciones button:hover {
    background-color: #004085;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 0.9em;
}
