/* Estilos para el contenido de entrevistas */
.entrevistas {
    padding: 20px;
    background-color: #ffffff;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.entrevistas h3 {
    color: #003366; /* Color azul añil */
}

.entrevistas p {
    margin: 10px 0;
}

/* Estilos para los iframes */
iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: none;
}
