<!-- header.html -->
<header id="header" class="menu">
  <div class="container">
        <label for="menu" class="checkbtn">
          <i class="bi bi-list" style="color: rgba(96, 96, 96, 0.635); height: 30px;"></i>
        </label>
      <nav>
          <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="acercadelpais.html">Acerca del País</a></li>
              <li><a href="galeria.html">Galería</a>
                  <ul class="sub-menu">
                      <li><a href="galeria_movimientosartisticos.html">Movimientos Artísticos</a></li>
                      <ul class="sub-menu"></ul>
                      <li><a href="dadaismo.html">Dadaismo</a></li>
                      <li><a href="surrealista.html">Surrealista</a></li>
                      <li><a href="impresionismo.html">Impresionismo</a></li>
                      <li><a href="expresionismo.html">Expresionismo</a></li>
                      <li><a href="realismohistorico.html">Realismo Historico</a></li>
                      <li><a href="artecontemporanea.html">Arte Contemporanea</a></li>
                      <li><a href="galeria_obrassobreleyendas.html">Obras sobre leyendas</a></li>
                      <li><a href="galeria_obrasinspiradasenelsalvador">Obras inspiradas en El Salvador</a></li>
                  </ul>
              <li><a href="artistas.html">Artistas</a></li>
              <li><a href="entrevistas.html">Entrevistas</a></li>
              <li><a href="cultura.html">Cultura</a></li>
                  <a href="index.html" class="enlace">
                      <li><img src="IMAGENES/variaciones de logo 160x160px/LOGO SECUNDARIO AMARILLO CHILTOTA 160X160 PX.png"  alt="Logo Tuka Mati"></li>
                  </a>
              </li> 
              </ul>
      </nav>
  </div>
</header>
  